<div class="board">
	<h3 class="center" id="show_turn"><% if @game.player1_turn %>White's Turn<% else %>Black's Turn<% end %></h3>
	<table align="center">
		<tr><th></th><th>a</th><th>b</th><th>c</th><th>d</th><th>e</th><th>f</th><th>g</th><th>h</th></th></tr>
		<% @board['board'].each_with_index do |row, i|%>
			<tr><th><%= 8 - i %></th>
			<% row.each_with_index do |cell, j| %>
				<td
				class="cell" 
					<% if i % 2 == 0 and j % 2 == 0 %>
						style='background-color: #ffffff';
					<% elsif i % 2 != 0 and j % 2 != 0 %>
						style='background-color: #ffffff';
					<% else %>
						style='background-color: #9b7333';
					<% end %>
				id="<%= i %><%= j %>">
					<%= image_tag "white_rook.png", :id => "wr" if cell == 'R' %>
					<%= image_tag "white_knight.png", :id => "wr" if cell == 'N' %>
					<%= image_tag "white_bishop.png", :id => "wr" if cell == 'B' %>
					<%= image_tag "white_king.png", :id => "wr" if cell == 'K' %>
					<%= image_tag "white_queen.png", :id => "wr" if cell == 'Q' %>
					<%= image_tag "white_pawn.png", :id => "wr" if cell == 'P' %>
					<%= image_tag "black_rook.png", :id => "wr" if cell == 'r' %>
					<%= image_tag "black_knight.png", :id => "wr" if cell == 'n' %>
					<%= image_tag "black_bishop.png", :id => "wr" if cell == 'b' %>
					<%= image_tag "black_king.png", :id => "wr" if cell == 'k' %>
					<%= image_tag "black_queen.png", :id => "wr" if cell == 'q' %>
					<%= image_tag "black_pawn.png", :id => "wr" if cell == 'p' %>
					<% if i % 2 == 0 and j % 2 == 0 %>
						<%= image_tag "white.png", :id => "wr" if cell == '' %>
					<% elsif i % 2 != 0 and j % 2 != 0 %>
						<%= image_tag "white.png", :id => "wr" if cell == '' %>
					<% else %>
						<%= image_tag "brown.png", :id => "wr" if cell == '' %>
					<% end %>
				</td>
			<% end %>
			<th><%= 8 - i %></th>
			</tr>
		<% end %>
		<tr><th></th><th>a</th><th>b</th><th>c</th><th>d</th><th>e</th><th>f</th><th>g</th><th>h</th></th></tr>
	</table>
</div>

<div id="captured_pieces">
	<h4>Captured Pieces</h4>
	<div id="captured_pieces_white" style="color:blue">
		<%= @pieces_captured_white_string %>
	</div>
	<div id="captured_pieces_black" style="color:red">
		<%= @pieces_captured_black_string %>
	</div>
</div>

<input type="button" value="Join Game" OnClick="joinGame()"/>

<script type="text/javascript">
	//get game id
	var origin = -1;
	var to = -1;
	var gid = "<%= @game.id %>";
	var token = "";
	
	function joinGame() {
		$.ajax({
				type: "POST",
				url: "/games/" + gid + "/join",
				processData: false,
				contentType: 'application/json',
				success: function(r) {
					token = r["token"];
				}
			});
	}
	

	//begin polling for game updates
	window.setInterval(function(){
	  		pollForGameUpdates(gid);
	}, 2000);

	$(document).on('click', 'td', function () {
		if (origin == -1) {
			origin = this.id;
		}
		else {
			to = this.id
			var move = new Object();
			move.token = token;
			move.from  = [Math.floor(origin/10), origin % 10];
			move.to  = [Math.floor(to/10), to % 10];
			var jsonString= JSON.stringify(move);
			$.ajax({
				type: "POST",
				url: "/games/" + gid + "/move",
				processData: false,
				contentType: 'application/json',
				data: jsonString,
				success: function(r) {
				}
			});
			to = -1;
			origin = -1;
		}
});
</script>