<div class="board">
	<h3 class="center" id="show_turn"><% if @game.player1_turn %>White's Turn<% else %>Black's Turn<% end %></h3>
	<table align="center">
		<tr><th></th><th>a</th><th>b</th><th>c</th><th>d</th><th>e</th><th>f</th><th>g</th><th>h</th></th></tr>
		<% @board['board'].each_with_index do |row, i|%>
			<tr><th><%= 8 - i %></th>
			<% row.each_with_index do |cell, j| %>
				<td <% if /[[:upper:]]/.match(cell) %> style="color:blue" <% else %> style="color:red" <% end %> id="<%= i %><%= j %>"><%= cell %></td>
			<% end %>
			<th><%= 8 - i %></th>
			</tr>
		<% end %>
		<tr><th></th><th>a</th><th>b</th><th>c</th><th>d</th><th>e</th><th>f</th><th>g</th><th>h</th></th></tr>
	</table>
</div>

<script type="text/javascript">
	//get game id
	var gid = "<%= @game.id %>"

	//begin polling for game updates
	window.setInterval(function(){
	  		pollForGameUpdates(gid);
	}, 2000);
</script>